# Rename to config.toml
# Insert path to your GPX file in [files]
# Add your own mapbox access token in [mapbox]-access_token
# Edit [ride_metadata] with the number of metrics required (1 to 6) and the label/value for each metric

[files]
gpx_filename = ""
output_pdf = "cycling_ride_a3_map_poster.pdf"

[mapbox]
access_token = ""   
style_id = "harpoon76/cmpch13vp004a01s59u1vg7br"
# Alternative default Mapbox styles (comment / uncomment as needed)
# See https://docs.mapbox.com/api/maps/styles/ for a list
#style_id = "mapbox/outdoors-v12"
#style_id = "mapbox/dark-v11"
#style_id = "mapbox/satellite-v9"

[theme]
# Set map_border to true for a border round the map
map_border = false
title_font_colour = "#e65c00"
date_font_colour = "#2b2b2b"
elevation_profile_colour = "#CBCCD0"
metric_value_colour = "#e65c00"
metric_title_colour = "#7a705a"

# Hexcolor references
# white = "#ffffff"
# strava_orange = "#e65c00"
# dark_gray = "#2b2b2b"
# muted_gray = "#7a705a"
# line_color = "#d1c7b2"
# light_gray = "#CBCCD0"

[processing]
target_points = 800

[ride_metadata]
title = "Poster Title"
date = "25 April 2026"

# Dynamic Metrics Grid (Anywhere from 1 to 6 blocks)
[[ride_metadata.metrics]]
value = "127.2km"
label = "Distance"

[[ride_metadata.metrics]]
value = "5:03:27"
label = "Moving Time"

[[ride_metadata.metrics]]
value = "1,230m"
label = "Total Ascent"

[[ride_metadata.metrics]]
value = "25.2km/h"
label = "Avg Speed"

[[ride_metadata.metrics]]
value = "65.2km/h"
label = "Top Speed"

[[ride_metadata.metrics]]
value = "215W"
label = "Avg Power"
