annotated-types==0.7.0
certifi==2026.4.22
charset-normalizer==3.4.7
gitdb==4.0.12
GitPython==3.1.41
idna==3.15
pillow==12.2.0
polyline==2.0.4
pydantic==2.13.4
pydantic-extra-types==2.11.1
pydantic_core==2.46.4
PyMuPDF==1.27.2.3
reportlab==4.5.1
requests==2.34.2
setuptools==78.1.1
smmap==5.0.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
